<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
           成功！
<!--           使用thymeleaf
            th:text 转义特殊字符得到<h1>hello<h1>   utext不转义 等到 大字体hello
            th:each 在哪个标签上 每次遍历这个标签生成一个


-->
    <div th:text="${hello}"></div>
           <hr>
    <div th:utext="${hello}"></div>
    <hr/>
<!--           th:each写在那个标签上，每次遍历都会生成-->
    <h2 th:each="user: ${users}">
        <h3 th:text="${user}"></h3>
    </h2>
    <hr/>
    <h2>
        <span th:each="user:${users}">
            [[${user}]]
        </span>
    </h2>

</body>
</html>